PORT={NUMBER}
DB_CONNECTION_STRING={STRING}
DB_NAME={STRING}

NODE_ENV={STRING}
ORIGIN={STRING}
ISSUER={STRING}
AUDIENCE={STRING}
SESSION_SECRET={STRING}
JWT_SECRET={STRING}

# CDOKU LOG DIR
LOG_DIR={STRING} # this is actually the full log file path.
ROOT_DIR={STRING}
WORKER_PATH={STRING}
LOG_LEVEL={STRING}

SMTP_HOST={smtp.example.com}
SMTP_POTT={NUMBER}
SMTP_USER={STRING}
SMTP_PASSWORD={STRING}
